.about {
  padding: 110px 0;
  border-radius: 10px;
}

.about-layout {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.about-layout p {
  line-height: 1.7;
}

.about-contenu {
  max-width: 45%;
}

.about-texte {
  margin-top: 25px;
}

.about-image {
  padding: 45px;
}

.about-titre {
  margin-bottom: 20px;
  text-align: center;
}

.about-sous-titre {
  margin-bottom: 20px;
  text-align: center;
}

.about-btn {
  display: inline-block;
  border: 1px dotted black;
  color: white;
  background-color: rgb(71, 71, 163);
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: 600;
  margin-bottom: 25px;
}

/*.about-carte{
  border: 1px solid black;
  border-radius: 16px;
  padding: 100px;
  margin: 0 auto;
  color: white;
  background-color: black;
   background-color: #DFF3FA;
  width: 80%;
  display: flex;
  flex-direction: column;
}*/

.about-action {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: auto;
}



/* Mes petits plus */

.about-plus {
  margin-top: 80px;
}

.plus-grid {
  display: flex;
  gap: 20px;
}

.plus-card {
  background-color: #1563ca;
  color: white;
  padding: 30px;
  border-radius: 15px;
  margin-left: 15px;
}

.plus-card i {
  font-size: 30px;
  margin-bottom: 20px;
}

.plus-card h4 {
  margin-bottom: 15px;
}

.plus-card p {
  font-size: 15px;
  line-height: 1.6;
}

.plus-title {}

.plus-text {}