.footer {
  /* fond */
  padding: 100px 0px;
  background-color: rgb(165, 162, 162);
  border-radius: 5px;
  margin-left: 15px;
}

.footer-layout {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  text-align: center;
}

.footer h2 {
  margin-bottom: 20px;
}

.footer p {
  /* couleur */
  /* espacement */
  line-height: 1.6;
}

.footer-links {
  /* espacement */
}

.footer-links a {
  /* style des liens */
}

.footer-links a:hover {
  background-color: grey;
  border-radius: 5px;
}

.footer-copyright{
  font-size: 12px;
}

.footer-message {

}