.footer {
  /* fond */
  padding: 100px 0px;
  /*background-color: rgb(165, 162, 162);*/
  background-color: #111111;
  border-radius: 5px;
  margin-left: 15px;
}

.footer-layout {
  display: flex;
  flex-direction: column;
  /*gap: 25px;*/
  align-items: center;
  text-align: center;
}

.footer-layout h2 {
    margin-bottom: 25px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
}

.footer-links i {
    font-size: 20px;
}

.footer-links a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    /*color: #111111;*/
    color: white;
}

.footer-links a:hover {
  background-color: grey;
  border-radius: 5px;
  font-weight: 700;
}

.footer-copyright{
  font-size: 12px;
  margin-top: 25px;
  color: white;
}

.footer-intro {
  margin-bottom: 25px;
  color: white;
}

.footer-message {

}

.footer-p {
  color: white;
}

.footer-nav {
  margin-bottom: 25px;
}