header {
  padding: 20px 0px;
  background-color: #509b4d80;
  box-shadow:
    0 1px 0 #12850e,
    0 8px 18px rgba(25, 177, 19, 0.25);
  color: grey;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1000;
  font-size: 16px;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

ul {
  display: flex;
  gap: 15px;
  color: blue;
  text-decoration: none;
}

li {
  text-decoration: none;
}