header {
  padding: 25px 0px;
  /*background-color: #DFF3FA;*/
  background: linear-gradient(to bottom, rgba(178, 132, 4, 1)80% rgba(255, 4, 4, 0)100%);
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1000;
    font-size: 20px;

}

.bg-black-header {
    background-color: rgba(0, 0, 0, 0.587);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #111111;
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

ul {
  display: flex;
  gap: 15px;
  color: blue;
  text-decoration: none;
}

li {
  text-decoration: none;
}