.projet {
  padding: 120px 0;
}

.projet-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
}

.projet-carte {
  /*border: 1px solid whitesmoke;*/
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  /*background-color: #1563ca;*/
  /*background-color:white;*/
  background-color: #DFF3FA;
  width: 45%;
  display: flex;
  flex-direction: column;
}

/*.projet-inferno{
  border-radius: 16px;
}

.projet-ecomarin {

}

.projet-toubon {

}*/

.projet-image {
  width: 100%;
  margin-bottom: 25px;
  border-radius: 8px;
}

.projet-titre {
  margin: 15px 0;
  margin-bottom: 20px;
  color: black;
}

.projet-description {
  font-size: 16px;
  margin-bottom: 12px;
  color: black;
}

.projet-tech {
  margin-bottom: 20px;
  color:black;
}

/* Actions des projets */

.projet-action {
  display: flex;
  gap: 8px;
  margin-top: auto;
}

.projet-contenu {
  display: flex;
  flex-direction: column;
  height: 100%;
}