/*typo general*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

/*pages css differentes*/
@import url("reset.css");
@import url("variables.css");
@import url("typographies.css");
@import url("layout.css");
@import url("spacing.css");
@import url("utilities.css");

@import url("navbar.css");
@import url("hero.css");
@import url("projets.css");
@import url("about.css");
@import url("contact.css");
@import url("footer.css");

/* Boutons */
.btn {
    display: inline-block;
    color: #06283d;
    background-color: #19cfff;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    transition: transform 0.2s ease,
        box-shadow 0.2s ease,
        background-color 0.2s ease;
    margin-bottom: 25px;
}

.btn:hover {
    transform: translateY(-2px);
    background-color:#ffffff;
    box-shadow: 0 0 15px rgba(80, 200, 255, 0.5);
}

@media (max-width: 768px) {

    .container {
        padding: 0 20px;
    }

    /* PROJETS */

    .projet {
        padding: 40px 0 80px;
    }

    .projet-layout {
        gap: 35px;
    }

    .projet-carte {
        width: 100%;
        padding: 12px;
        flex-direction: column;
        gap: 20px;
    }

    .projet-slides {
        width: 100%;
    }

    .projet-contenu {
        width: 100%;
    }

    .projet-numero {
        width: 100%;
        min-width: 0;
        justify-content: flex-start;
    }

    .projet-numero span {
        font-size: 45px;
    }

    .projet-description {
        font-size: 15px;
    }

    .projet-tech {
        flex-wrap: wrap;
    }

    .projet-action {
        flex-wrap: wrap;
        gap: 8px;
    }

    .projet-titre {
        font-size: 24px;
        margin-top: 5px;
    }

    .projet-label {
        font-size: 10px;
        margin-bottom: 5px;
    }

    /*navbar*/

    .navbar {
        gap: 25px;
    }

    .navbar a {
        font-size: 13px;
    }
}