/*typo general*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

/*pages css differentes*/
@import url("reset.css");
@import url("variables.css");
@import url("typographies.css");
@import url("layout.css");
@import url("spacing.css");
@import url("utilities.css");

@import url("navbar.css");
@import url("hero.css");
@import url("projets.css");
@import url("about.css");
@import url("contact.css");
@import url("footer.css");

/* Boutons */
.btn {
  display: inline-block;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  margin-bottom: 25px;
}

.btn:hover {
 transform: translateY(-2px);
 background-color: #19b113;
 /*background-color: #333;*/
}